@using Parad.ViewModels
@model CategoriesVM
@{
    ViewData["Title"] = "Categories";
}


<style>

    @@media only screen and (min-width: 1400px) {
        .masonry .item .details {
            left: 94px !important;
        }
    }
    @@media only screen and (min-width: 1200px) and (max-width: 1400px) {
        .masonry .item .details {
            left: 77px !important;
        }
    }

    @@media only screen and (min-width: 992px) and (max-width: 1200px) {
        .masonry .item .details {
            left: 94px !important;
        }
    }

    @@media only screen and (max-width: 992px) {
        .masonry .item .details {
            display: block
        }
        .masonry .item .add-to-collection {
            display: none
        }
        .masonry .item .like {
            display: none
        }
        .masonry .item .download {
            display: none
        }
    }

    @@media only screen and (min-width: 768px) and (max-width: 991px) {
        .masonry .item .details {
            top:4px !important;
            left: 31px !important;
        }
    }

    @@media only screen and (min-width: 576px) and (max-width: 768px) {
        .masonry .item .details {
            left: 112px !important;
        }
    }

    @@media only screen and (min-width: 321px) and (max-width: 576px) {
        .masonry .item {
            position: relative;
            display: flex;
            justify-content: center;
        }

            .masonry .item .details {
                left: auto !important;
            }
    }

    @@media only screen and (min-width: 299px) and (max-width: 320px) {
        .masonry .item .details {
            left: 132px !important;
        }
    }
</style>
<main>
    <section>
        <div class="profile-img-converter" style="display:none">
            @if (User.Identity.IsAuthenticated)
            {
                <img id="pro-img-con" src="~/assets/images/@Model.AppUser.ProfileImage" />
            }
        </div>
    </section>
    <section id="first-all-categories" class="title-bg darkmode-ignore">
        <div class="container">
            <div class="row">
                <div class="cat-title">
                    <i class="fa-solid fa-chevron-left start" style="font-size: 39px;padding-top: 15px;"></i>
                    <i class="fa-solid fa-chevron-right" style="font-size: 39px;padding-top: 15px;"></i>
                    <i class="fa-solid fa-chevron-right" style="font-size: 30px;padding-top: 20px;"></i>
                    <i class="fa-solid fa-chevron-right" style="font-size: 23px;padding-top: 24px;"></i>
                    <h1>
                        Categories
                    </h1>
                    <i class="fa-solid fa-chevron-left" style="font-size: 23px;padding-top: 24px;"></i>
                    <i class="fa-solid fa-chevron-left" style="font-size: 30px;padding-top: 20px;"></i>
                    <i class="fa-solid fa-chevron-left" style="font-size: 39px;padding-top: 15px;"></i>
                    <i class="fa-solid fa-chevron-right end" style="font-size: 39px;padding-top: 15px;"></i>
                </div>
            </div>
        </div>
    </section>
    <section id="second-all-categories">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 b-none">
                    <ul class="categories-list">
                        @foreach (var item in Model.Categories)
                        {
                            <li class="cat-item">
                                <div class="point">
                                    <i class="fa-solid fa-arrows-to-dot"></i>
                                </div>
                                <a asp-controller="Category" asp-action="GetCategory" asp-route-id="@item.Id">
                                    <p>
                                        @item.CategoryName Wallpapers
                                    </p>
                                </a>
                            </li>
                        }
                    </ul>
                </div>
                <div class="col-lg-9 col-md-6">
                    <div class="masonry">
                        @await Html.PartialAsync("_ImagePartial",Model.Images); 
                    </div>
                    <div class="popup-img darkmode-ignore">
                        <span>&times;</span>
                        <img src="" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
